.AccountPage{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background-color: #10141E;
    color: white;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;


    .spinner{
        padding: 10px;
        margin: 10px 0;        
        z-index: 1000;
    }

    .logo{
        margin: 30px 0;
    }    




    h2{
        margin: 15px 0;
        text-align: center;
        font-weight: 300;
        font-size: 36px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        max-width: 100%;
        background-color: #161D2F;
        padding: 0 10px 10px 10px;
        border-radius: 20px;
        border: 1px solid red;

    }

    .routeLinks{
        cursor: pointer;
        background-color: #FC4747;
        color: white;
        font-weight: 300;
        transition: all ease-in 0.1s;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;


        &:hover{
            background-color: #FFFFFF;
            color: #161D2F;
        }

    }

    // span{
    //     opacity: 70%;
    // }

    a{
        color: #FC4747;
        opacity: 100%;
    }
}

